In [1]:
# name =input('Pleased to meet you, can we know your name? ')
# print('You have a nice name')
# age =input('How old are you? ')
# answer =input("You seem quite younger, are you sure you're "+age+ "years? ")
# if answer =='No':
#     input('Please can we know your real age? ')
# else:
#     print('Thanks '+name+ ' Once again, you are welcome.')

Pleased to meet you, can we know your name? Peace
You have a nice name
How old are you? 12
You seem quite younger, are you sure you're 12years? Yes
Thanks Peace Once again, you are welcome.

In [2]:
# print(12)

12

In [3]:
# print('this is living')

this is living

In [11]:
import pandas as pd

In [40]:
data = pd.read_csv('Sleep_Efficiency.csv')
data

,ID,Age,Gender,Bedtime,Wakeup time,Sleep_duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise_frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,448,27,Female,2021-11-13 22:00:00,2021-11-13 05:30:00,7.5,0.91,22,57,21,0.0,0.0,0.0,No,5.0
448,449,52,Male,2021-03-31 21:00:00,2021-03-31 03:00:00,6.0,0.74,28,57,15,4.0,25.0,0.0,No,3.0
449,450,40,Female,2021-09-07 23:00:00,2021-09-07 07:30:00,8.5,0.55,20,32,48,1.0,NaN,3.0,Yes,0.0
450,451,45,Male,2021-07-29 21:00:00,2021-07-29 04:00:00,7.0,0.76,18,72,10,3.0,0.0,0.0,No,3.0
451,452,18,Male,2021-03-17 02:30:00,2021-03-17 10:00:00,7.5,0.63,22,23,55,1.0,50.0,0.0,No,1.0

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [47]:
x = data[['Age', 'Gender']]
y = data['Sleep_duration']

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=10)

In [49]:
x_test

     Age  Gender
303   51    Male
131   36  Female
116   50    Male
305   65    Male
65    21    Male
..   ...     ...
88    48    Male
207   41  Female
81    29    Male
56    54    Male
191   27  Female

[91 rows x 2 columns]

In [4]:
# data['Gender'] = data['Gender'].str.replace('[^\d.]', '', regex=True)
model = LinearRegression()
model.fit(data[['Age', 'Gender']], data.Sleep_duration)

NameError: name 'LinearRegression' is not defined